__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv/
venv/
ENV/
env/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next/
.nuxt/
coverage/
frontend/dist/
frontend/build/
data/raw/*.csv

# ML artifacts
mlflow.db
*.log
uvicorn.err.log
uvicorn.log
.uvicorn.pid
mlruns/

# VS Code
.vscode/
.agents/
.matplotlib/

# Data
data/processed/*.csv
